<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Portfolio</title>
<link th:href="@{bootstrap/bootstrap.min.css}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<script th:src="@{js/jquery-3.7.1.min.js}"></script>
</head>
<body>
<div class ="container">
	<div class ="row">
		<div class ="col">
포트폴리오 기본 설정 완료
		</div>
	</div>
</div>
<script th:src="@{bootstrap/bootstrap.bundle.min.js}"></script>
</body>
</html>