@charset "UTF-8";
.image-wrap {
  position: relative;
  width: 100%;
  height: 60vh;
  /*overflow: hidden; /* ← 이거 추가 */
}

.mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mainImage2 {
  position: absolute;
  top: 50%;
  left: 67%;

  transform: translate(-50%, -50%);
  z-index: 2;

  width: 670px;   /* ← 원하는 크기로 조절 */
  opacity: 0.9;   /* 살짝 투명하면 감성 */
}
/* 텍스트는 더 위 */
.image-header,
.image-text,
.image-text2 {
  position: absolute;
  z-index: 3;
}
/* 이미지 위에 얹는 header */
.image-header {
    position: absolute;
    top: 0;
    left: -25%;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}
.image-text {
  position: absolute;
  top: 8%;
  left:6.5%;
  transform: translate(-50%, -50%);

  color: white;
  font-size: 0.8rem;
  text-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.image-text2 {
  position: absolute;
  top: 8%;
  left: 96.5%;
  transform: translate(-50%, -50%);

  color: white;
  font-size: 2rem;
  
  text-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

